<h1>Crear Nuevo Curso</h1>
<%= form_with model: @course, url: create_admin_course_path, local: true do |form| %>
  <div>
    <%= form.label :title, "Título del Curso" %>
    <%= form.text_field :title, required: true %>
  </div>
  <div>
    <%= form.label :description, "Descripción" %>
    <%= form.text_area :description, required: true %>
  </div>
  <div>
    <%= form.label :start_date, "Fecha de Inicio" %>
    <%= form.date_field :start_date, required: true %>
  </div>
  <div>
    <%= form.label :end_date, "Fecha de Término" %>
    <%= form.date_field :end_date, required: true %>
  </div>
  <div>
    <%= form.label :course_type_id, "Tipo de Curso" %>
    <%= form.collection_select :course_type_id, CourseType.all, :id, :name, prompt: "Selecciona un tipo de curso" %>
  </div>
  <div>
    <%= form.label :teacher_id, "Profesor" %>
    <%= form.collection_select :teacher_id, Teacher.includes(:user).all, :id, :user_name, prompt: "Selecciona un profesor" %>
  </div>
  <%= form.submit "Crear Curso", class: "btn btn-primary" %>
<% end %>
