<section class="container-fluid px-2">
  <h1>Gestionar Reseñas de Profesores</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Comentario</th>
        <th>Calificación</th>
        <th>Estudiante</th>
        <th>Profesor</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @teacher_reviews.each do |review| %>
        <tr>
          <td><%= review.title %></td>
          <td><%= review.comment %></td>
          <td><%= review.rating %></td>
          <td><%= review.student.user.name %></td>
          <td><%= review.teacher.user.name %></td>
          <td>
            <%= button_to 'Eliminar', admin_destroy_teacher_review_path(review), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta reseña?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
