<div class="mx-5 mb-3">
  <h1 class="mb-4">Gestión de Usuarios</h1> 
  <div class="d-flex justify-content-end">
     <%= link_to 'Agregar Usuario', admin_new_user_path, class: 'btn btn-success' %>
  </div>
</div>

<div class="table-responsive mx-5">
  <table class="table table-bordered" style="border-collapse: collapse;">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Tipo de Usuario</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td style="border: none;"><%= user.name %></td>
          <td style="border: none;"><%= user.email %></td>
          <td style="border: none;"><%= user.phone %></td>
          <td style="border: none;"><%= user.user_role.name %></td>
          <td class="text-center" style="border: none;">
            <%= link_to admin_edit_user_path(user), class: 'btn btn-sm btn-outline-primary' do %>
              <i class="bi bi-pencil"></i> Editar
            <% end %>
            <%= link_to admin_destroy_user_path(user), method: :delete, data: { "turbo-method": :delete, confirm: '¿Estás seguro?' }, class: 'btn btn-sm btn-outline-danger' do %>
              <i class="bi bi-trash"></i> Eliminar
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
