<section class="container-fluid px-2">
    <h1>Home</h1>

    <div class="row">
        <div class="col-sm-9">
            <h5>Tus cursos</h5>
            <% @courses.each do |course| %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5><%= link_to course.title, course_path(course), :class => "card-title" %></h5>
                        <p class="card-text"><%= course.teacher.user.name %></p>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-sm">
            <h5>Acciones</h5>
            <% if current_user.teacher.present? %>
                <%= link_to "Crear evaluaci칩n", new_evaluation_path, :class => "btn btn-outline-secondary w-100 mb-2 fluid" %>
                <%= link_to "Crear curso", new_course_path, :class => "btn btn-outline-secondary w-100 mb-2 fluid" %>
                <%= link_to "Ver Rese침as", reviews_path, class: "btn btn-outline-secondary w-100 mb-2 fluid" %>
            <% end%>

            <% if current_user.student.present? %>
                <%= link_to "Realizar rese침a de Profesor", new_teacher_review_path, class: "btn btn-outline-secondary w-100 mb-2 fluid" %>
                <%= link_to "Realizar rese침a de Curso", new_course_review_path, class: "btn btn-outline-secondary w-100 mb-2 fluid" %>
                <%= link_to "Wishlist de cursos 游", wishlist_path, class: "btn btn-outline-secondary w-100 mb-2 fluid" %>
            <% end %>

            <% if current_user.admin.present? %>
                <%= link_to "Administrar Usuarios", admin_view_users_path, class: "btn btn-outline-secondary w-100 mb-2 fluid" %>
                <%= link_to "Gestionar Rese침as de Profesores", admin_teacher_reviews_path, class: "btn btn-outline-secondary w-100 mb-2 fluid" %> <!-- Bot칩n para gestionar rese침as -->
                <%= link_to "Gestionar Rese침as de Cursos", admin_course_reviews_path, class: "btn btn-outline-secondary w-100 mb-2 fluid" %> <!-- Bot칩n para gestionar rese침as de cursos -->
                <%= link_to "Crear Curso", new_admin_course_path, class: "btn btn-outline-secondary w-100 mb-2 fluid" %>
                <%= link_to "Ver Reclamos", complaints_path, class: "btn btn-outline-secondary w-100 mb-2 fluid" %>
            <% end %>
            
            <% if current_user.teacher.present? || current_user.student.present? %>
                <%= link_to "Crear Reclamo", new_complaint_path, class: "btn btn-outline-secondary w-100 mb-2 fluid" %>
            <% end %>

        </div>
    </div>
    
</section>
