<h1>Solicitudes</h1>

<div class="return-home">
  <%= link_to "✖", home_path, class: "close-button", title: "Volver a la página principal" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Curso</th>
      <th>Estudiante</th>
      <th>Status</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.course.title if request.course.present? %></td>
        <td><%= request.student.user.name if request.student.present? %></td>
        <td><%= request.course_request_status.name if request.course_request_status.present? %></td>
        <td>
          <% if request.course_request_status.name == "pending" %>
            <%= button_to 'Eliminar', request_path(request), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta solicitud?' }, class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

