<h1>Solicitudes a mis cursos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Curso</th>
      <th>Estudiante</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.course.title if request.course.present? %></td>
        <td><%= request.student.user.name if request.student.present? %></td>
        <td><%= request.course_request_status.name if request.course_request_status.present? %></td>
        <td>
          <%= button_to "Aprobar", approve_request_path(request), method: :post, class: "btn btn-success" %>
          <%= button_to "Rechazar", reject_request_path(request), method: :post, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
