<h1>Cursos</h1>

<div class="search-container">
  <%= form_with url: courses_path, method: :get, local: true do |form| %>
    <div class="input-group">
      <%= form.text_field :query, placeholder: "Buscar por nombre de curso o profesor", class: "form-control" %>
      <%= form.submit "Buscar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="return-home">
  <% if !user_signed_in? %>
    <%= link_to "✖", root_path, class: "close-button", title: "Volver a la página principal" %>
  <% else %>
    <%= link_to "✖", home_path, class: "close-button", title: "Ir a la página principal" %>
  <% end %>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Profesor</th>
      <% if current_user&.user_role_id == UserRole.find_by(name: "Student")&.id %>
        <th>Acciones</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, course_path(course) %></td>
        <td><%= course.description %></td>
        <td><%= course.teacher.user.name if course.teacher.present? %></td>
        
        <% if current_user&.user_role_id == UserRole.find_by(name: "Student")&.id %>
          <td>
          <%= button_to "Solicitar unirse", request_join_course_path(course), method: :post, class: "btn btn-success" %>
        <% end %>

        <% if current_user&.user_role_id == UserRole.find_by(name: "Admin")&.id %>
          <td>
            <%= link_to "Editar", edit_admin_course_path(course), class: "btn btn-warning" %>
            <%= button_to "Eliminar", course_path(course), method: :delete, data: { confirm: "¿Estás seguro de que quieres eliminar este curso?" }, class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

