<section class="container-fluid p-4">
  <div class="row mb-4">
    <div class="col-md-12">
      <h1 class="mb-2"><%= @course.title %></h1>
      <p class="mb-1"><strong>Profesor:</strong> <%= @course.teacher.user.name %></p>
      <p class="mb-1"><strong>Horario:</strong> <%= @course.start_date %> - <%= @course.end_date %></p>
      <p class="mb-1"><strong>Descripción:</strong> <%= @course.description %></p>
    </div>
  </div>


  <div class="row mb-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h3 class="mb-0">Tests</h3>
        <%= link_to 'Crear Evaluación', new_evaluation_path(course_id: @course.id), class: 'btn btn-outline-secondary' %>
      </div>
      <ul class="list-group">
        <% @course.evaluations.each do |evaluation| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <strong><%= evaluation.name %></strong>
              <br>
              <small>Duración: <%= evaluation.duration %> minutos</small>
              <br>
              <small>Día: <%= evaluation.start_date.strftime('%d/%m/%Y') %></small>
            </div>
            <div class="d-flex">
              <%= link_to 'Ver preguntas', evaluation_path(evaluation), class: 'btn btn-outline-primary btn-sm me-2' %>
              <% if evaluation.evaluation_answers.any? %>
                <%= link_to 'Calificar respuestas', grade_answers_evaluation_path(evaluation, student_id: evaluation.students.first&.id), class: 'btn btn-outline-primary btn-sm me-2' %>
              <% else %>
                <button class= "btn btn-outline-primary btn-sm me-2" disabled>Calificar respuestas</button>
              <% end %>
              <%= link_to 'Eliminar', evaluation_path(evaluation), data: { turbo_method: :delete, confirm: '¿Estás seguro de que deseas eliminar esta evaluación?' }, class: 'btn btn-outline-danger btn-sm' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center mb-2">
          <h3 class="mb-0">Contenido</h3>
          <%= link_to "Subir Material", upload_course_materials_path(@course), class: "btn btn-outline-secondary" %>
      </div>

        <ul class="list-group">
          <% if @course.materials.any? %>
            <% @course.materials.each_with_index do |material, index| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><%= index + 1 %>. <%= material.name %></span>
                <div class="d-flex">
                  <a href="<%= material_path(material) %>" class="btn btn-outline-primary btn-sm me-2">Ver</a>
                  <%= link_to "Eliminar", course_material_path(@course, material), 
                      data: { turbo_method: :delete }, 
                      class: "btn btn-outline-danger btn-sm" %>
                </div>
              </li>
            <% end %>
          <% else %>
            <li class="list-group-item">No hay material disponible en este curso.</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h3>Personas</h3>
      <ul class="list-group">
        <% if @course.students.any? %>
          <% @course.students.each_with_index do |student, index| %>
            <li class="list-group-item">
              <%= index + 1 %>. <%= student.user.name %>
            </li>
          <% end %>
        <% else %>
          <li class="list-group-item">No hay ningún estudiante inscrito en el curso.</li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
