<section class="container-fluid px-2">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-2"><%= @course.title %></h1>
      <p class="mb-1"><strong>Profesor:</strong> <%= @course.teacher.user.name %></p>
      <p class="mb-1"><strong>Horario:</strong> <%= @course.start_date %> - <%= @course.end_date %></p>
      <p class="mb-1"><strong>Descripción:</strong> <%= @course.description %></p>
    </div>
  </div>

  <!-- Tests -->
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Tests</h3>
      <ul class="list-group">
        <% @course.evaluations.each do |evaluation| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <strong><%= evaluation.name %></strong>
              <br>
              <small>Duración: <%= evaluation.duration %> minutos</small>
              <br>
              <small>Día: <%= evaluation.start_date.strftime('%d/%m/%Y') %></small>
            </div>
            
            <!-- Acciones para admin -->
            <div class="d-flex align-items-center">
              <% if current_user&.admin? %>
                <%= link_to 'Ver preguntas', evaluation_path(evaluation), class: 'btn btn-outline-primary btn-sm me-2' %>
                <%= button_to 'Eliminar', evaluation_path(evaluation), method: :delete, class: 'btn btn-danger', data: { confirm: '¿Estás seguro de que deseas eliminar esta evaluación?' } %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Contenido del curso -->
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h3 class="mb-0">Contenido</h3>
        <%= link_to "Subir Material", upload_course_materials_path(@course), class: "btn btn-outline-secondary" %>
      </div>
      <ul class="list-group">
        <% if @course.materials.any? %>
          <% @course.materials.each_with_index do |material, index| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span><%= index + 1 %>. <%= material.name %></span>
              <div class="d-flex">
                <!-- Ver material -->
                <a href="<%= material_path(material) %>" class="btn btn-outline-primary btn-sm me-2">Ver</a>

                <!-- Editar material (solo visible para admins) -->
                <% if current_user&.admin? %>
                  <%= link_to 'Editar', edit_course_material_path(@course, material), class: 'btn btn-outline-warning btn-sm me-2' %>
                <% end %>

                <!-- Eliminar material (solo visible para admins) -->
                <% if current_user&.admin? %>
                  <%= button_to 'Eliminar', material_path(material), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: '¿Estás seguro de que deseas eliminar este material?' } %>
                <% end %>

              </div>
            </li>
          <% end %>
        <% else %>
          <li class="list-group-item">No hay material disponible en este curso.</li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Estudiantes inscritos -->
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Personas</h3>
      <ul class="list-group">
        <% if @course.students.any? %>
          <% @course.students.each_with_index do |student, index| %>
            <li class="list-group-item">
              <%= index + 1 %>. <%= student.user.name %>
            </li>
          <% end %>
        <% else %>
          <li class="list-group-item">No hay ningún estudiante inscrito en el curso.</li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
