<section class="container-fluid">
  <h1>Mi Wishlist</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Profesor</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @wishlist_courses.each do |course| %>
        <tr>
          <td><%= link_to course.title, course_path(course) %></td>
          <td><%= course.description %></td>
          <td><%= course.teacher.user.name if course.teacher.present? %></td>
          <td>
            <%= button_to 'Enviar solicitud', request_join_course_path(course), method: :post, class: 'btn btn-sm btn-outline-danger' %>
            <%= button_to 'Eliminar de la wishlist', wishlist_path(course_id: course.id), method: :delete, class: 'btn btn-sm btn-outline-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>