<!DOCTYPE html>
<html>
  <head>
    <title>LearningApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">DCCanvas</span>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav me-2 mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="#" class="nav-link">Cursos</a>
            </li>
          </ul>
          <form>
            <button class="btn btn-outline-primary me-2">Ingresa</button>
        </form>
        </div>
      </div>
      </div>
    </nav>    

    <%= yield %>
  </body>
</html>
